* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    }

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

div.time-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#crypto {
    font: 1.3em sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1px;
    padding: 1px;
}

div#crypto-title {
    font: 1.3em sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
    
}


div#crypto-title > img {
    margin-right: 8px;
    
}

div#crypto-info > p {
    margin: 2px;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.2rem;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}










































